.button {
  display: inline-block;
  padding: 0.8em 5em;
  margin: 0.3em 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: #FFFFFF;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
  position: absolute;
  right: 0;
}
.button:hover {
  background-color: #4095c6;
}
@media all and (max-width: 30em) {
  a.button3 {
     display: block;
     margin: 0.2em auto;
  }
}
.note {
  margin-top: 200px;
}